a{
    color: white;
    }
.gui{
    text-align: center;
    color: white;
}
.cr{
    color: white;
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
}
.rgt{
    border-radius: 10px 10px 10px 10px;
}
.bloc{
    background-image: url("pdc1.jpg");
    background-attachment: fixed;
    background-position: top center;
    width: 100%;
    height: 610px;
    margin-left: 0px;
}
.btn{
    text-align: center;
}
.co{
    background-color: red;
    color: white;
    border-color: red;
    font-size: 18px;
    width: 200px;
    height: 80px;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    box-shadow: 20px;
}
.vid{
    color: white;

}
#bouton{
    width: 25px;
    font-size: 25px;
}

nav li a{
    text-decoration : none;
}
nav{
    display: flex;
}
.gui{
    padding-top: 20px;
}
nav div li{
    display: inline-block;
    width : 120px;
    line-height: 60px;
}
.rgt{
    border: 1px solid white;
    padding: 5px;
}
.droite{
    float: right;
}
body{
    width: 100%;
}

div{
    margin-left: 50px;
}
.dp{
    text-align: center;
    font-size: 40px;
}
.more{
    padding-bottom: 0%;
    margin-bottom: 0%;
}
.division{
    display: flex;
    border: 4px solid transparent;
    text-align: center;

}
.division img{
    width: 350px;
}
.division2{
    display: flex;
    border: 4px solid transparent;
    text-align: center;

}
.division2 img{
    width: 100px;
}
.division2 p{
    opacity: 0.5;
}
footer{
    display: flex;
   
}
footer li{
    text-decoration: none;
    list-style-type: none;
    margin-right: 100px;
    
}
.perf{
    text-align: center;
}
.o{
    text-align: center;
    opacity: 0.8;
    font-size: 20px;
}
.btn a{
    text-decoration: none;
}
a:hover{
    opacity: 1;
    color: pink;

}
.gu{
    font-size: 20px;
    text-align: center;
    opacity: 0.5;
}
.tete{
    opacity: 0.7;
}
.bout{
    font-size: 17px;
    width: 150px;
    height: 80px;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
}
i{
    font-size:  40px;
}